/********** Base styles **********/
* {
    box-sizing: border-box;
  }
  h1 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 28px;
  }
  
  /* section {
    border: 1px solid grey;
    padding: 10px; 
    background-color: grey;
    width: 100%;
    height: 100px;
    margin-right: 0px;
    margin-left: 0px;
    font-family: Helvetica;
    color: white;
    font-size: 16px;
  } */
  
  .title_region {
    border: 1px solid black;
    width: 100px;
    height: 30px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Helvetica;
    text-align: center;
    float: right;
    font-size: 20px;
  }
  
  .for_chicken {
    background-color: rosybrown;
    color: black
  }
  
  .for_beef {
    background-color:red;
    color: white
  }
  
  .for_shushi {
    background-color:rgb(255, 221, 0);
    color: black
  }
  
  /* Simple Responsive Framework. */
  .row {
    width: 100%; 
    margin-left: -5px;
    margin-right: -5px;
    border: 0px;
    padding: 0px;
  }

  .row-small{
    border: 1px solid grey;
    padding: 10px; 
    background-color: grey;
    width: 100%;
    height: 100px;
    margin-right: 0px;
    margin-left: 0px;
    font-family: Helvetica;
    color: white;
    font-size: 16px;
    }
  
  /********** Desktop view only **********/
  @media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3 {
      float: left;
      border: 1px solid black;
      margin-bottom: 0px;
      margin-top: 0px;
      padding: 0px;
      overflow: auto;
      background-color: grey;
    }
    .col-lg-1 {
      width: 33%;
      margin-left: 2px;
    }
    .col-lg-2 {
      width: 33%;
      margin-right: 2px;
      margin-left: 2px;
    }
    .col-lg-3 {
      width: 33%;
      margin-right: 0px;
    }
    
  }
  
  /********** Tablet devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3 {
      float: left;
      border: 1px solid black;
      margin-bottom: 2px;
      margin-top: 2px;
      padding: 0px;
      overflow: auto;
      
    }
    .col-md-1 {
      width: 49.5%;
      margin-right: 5px;
    }
    .col-md-2 {
      width: 49.5%;
      margin-right: 0px;
    }
    .col-md-3 {
      width: 99%;
    }
    
  }
  
  /********** Mobile devices only **********/
  @media (max-width: 767px) {
    .col-sm-1, .col-sm-2, .col-sm-3 {
      float: left;
      border: 1px solid black;
      margin-right: 2px;
      margin-bottom: 2px;
      margin-left: 2px;
      margin-top: 2px;
      padding: 0px;
      overflow: auto;
    }
    .col-sm-1 {
      width: 100%;
    }
    .col-sm-2 {
      width: 100%;
    }
    .col-sm-3 {
      width: 100%;
    }
    
  }